*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Html,
body {
  width: 100%;
  height: 100%;
}

.moonlit,
.forest {
  min-height: 100vh;
  width: 100%;
}

.moonlit {
  background-image: url('../assets/images/landing-page/Sky.png');
  background-position: 50% 50%;
  background-size: cover;
}
.logo {
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
